<a href="https://colab.research.google.com/github/suf263/python/blob/master/improvising_code_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
list = []
num = int(input("Enter number of elements in list:"))
for i in range(1, num + 1):
   elements = int(input("Enter element: "))
   list.append(elements)
print("Largest element is:", max(list))

Enter number of elements in list:5
Enter element: 6
Enter element: 9
Enter element: 2
Enter element: 3
Enter element: 4
Largest element is: 9

In [3]:
list1 = [2,7,8,6,5,3,0]
search_element = int(input("Enter a number to search for:"))
found = False
for i in range(len(list1)):
    if list1[i]==search_element:
        found=True
        print(search_element ,'was found in the list at index',i)
        break
if found==False:
    print(search_element,'was not found in the list')

Enter a number to search for:8
8 was found in the list at index 2

In [4]:
sum=0
list2=[11,5,17,18,23]
for i in range(0,len(list2)):
    sum = sum+list2[i]
print("sum of all elements in list:",sum)

sum of all elements in list: 74

In [6]:
def Remove(duplicate):
   removed_list=[]
   for num in duplicate:
     if num not in removed_list:
            removed_list.append(num)
   return removed_list
duplicate = [2,4,10,20,5,2,8,8,20,4]
print(Remove(duplicate))

[2, 4, 10, 20, 5, 8]

In [8]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

In [10]:
list3 = [1,6,9,84]
list4 = [4,7,3,2,94]
list3.append(list4)
print('appended list:',list3)

appended list: [1, 6, 9, 84, [4, 7, 3, 2, 94]]

In [12]:
list5=[1,6,9,84]
list6=[4,7,3,2,94]
list5.extend(list6)
print("Extended list:",list5)

Extended list: [1, 6, 9, 84, 4, 7, 3, 2, 94]

In [13]:
num=int(input("Enter a number:"))
if num>1:
    for i in range(2,num):
        if(num%i)==0:
            print(num,"is not a prime number")
            break
    else:
        print(num,"is a prime number")
elif num==0 or 1:
    print(num,"is neither a prime number or composite number")

Enter a number:0
0 is neither a prime number or composite number

In [14]:
X = [[1,2,3],
     [4 ,5,6],
     [7 ,8,9]]
Y = [[9,8,7],
     [6,5,4],
     [3,2,1]]

result = [[0,0,0],
          [0,0,0], 
          [0,0,0]]

for i in range(len(X)):
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]
print(result)

[[10, 10, 10], [10, 10, 10], [10, 10, 10]]

In [15]:
string = input("Enter string:")
if(string==string[::-1]):
    print("The string is a palindrome")
else:
    print("The string isn't a palindrome")

Enter string:hindi
The string isn't a palindrome

In [17]:
num = int(input("Enter number:"))
for i in range(1,11):
    print(num,'x',i,'=',num*i)

Enter number:12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120