<a href="https://colab.research.google.com/github/suf263/python/blob/master/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Member:
  def __init__(self,name,age,phno,address,salary):
     
     self.name = name
     self.age = age
     self.phno = phno
     self.address = address
     self.salary = salary
     print(self.name,self.age ,self.phno,self.address,self.salary)

  def printsalary(self):
    print("salary:",self.salary)

class Employee(Member):
  def __init__(self,specialization):
        super().__init__("Mack",34,6789543,"SRA",12300)
        self.specialization = specialization
        print(self.specialization)

class Manager(Member):
   def __init__(self,department):
        super().__init__("Jam",23,6532467,"MSR",15000)
        self.department = department
        print(self.department)

x =  Member("jon",34,345567,"Nagar",10000)    
x.printsalary()
y = Employee("Specialization:MBA")
y.printsalary()
Z = Manager("Department:Export")
Z.printsalary()

jon 34 345567 Nagar 10000
salary: 10000
Mack 34 6789543 SRA 12300
Specialization:MBA
salary: 12300
Jam 23 6532467 MSR 15000
Department:Export
salary: 15000